.notifications {
  width: 100%;
  height: 100%;

  .notification {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      color: #a8c3df;
    }
    
    .unread {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #be2f2f;
      margin-right: 10px;
    }

    p {
      font-size: 1.3rem;
    }

    div {
      justify-content: start;
    }
  }
}